<div class="register">
  <h1>Create Account</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <!-- Display registration error -->
    <p>
      <mat-error *ngIf="registerResult && !registerResult.success">
        <strong>ERROR</strong>: {{registerResult.message}}
      </mat-error>
    </p>

    <!-- Email -->
    <mat-form-field>
      <mat-label>Email:</mat-label>
      <input matInput formControlName="email" required placeholder="Insert email" />
      <mat-error *ngFor="let error of getErrors(form.get('email')!, 'Email')">{{error}}</mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field>
      <mat-label>Password:</mat-label>
      <input matInput formControlName="password" type="password" required placeholder="Insert password" />
      <mat-error *ngFor="let error of getErrors(form.get('password')!, 'Password')">{{error}}</mat-error>
    </mat-form-field>

    <!-- Submit/Cancel buttons -->
    <div>
      <button mat-flat-button color="primary" type="submit">Create Account</button>
      <button mat-flat-button color="secondary" [routerLink]="['/']">Cancel</button>
    </div>

    <!-- Log in -->
    <div>
      <p>Already have an account? <a [routerLink]="['/login']">Log in.</a></p>
    </div>
  </form>
</div>
