
.countries-table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.countries-table-paginator {
  align-content: center;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
}

.btn-add {
   float: right;
}
